name: Publish Website Dry Run

on:
  push:
    branches: [ master ]

jobs:
  FTP-Deploy-Action:
    name: FTP-Deploy-Action
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.1.0
      with:
        fetch-depth: 2

    - name: FTP-Deploy-Action
      uses: SamKirkland/FTP-Deploy-Action@3.1.1
      with:
        ftp-server: ftp://www48.world4you.com/
        ftp-username: ftp3725957_github
        ftp-password: ${{ secrets.FTP_PASSWORD }}
        git-ftp-args: --dry-run --insecure
